<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Drive</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MyPage/">Моя страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Мои объявления</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Мой транспорт</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link" href="/Advertisements/">Мой транспорт</a>
        </li>*@
                    </ul>
                    <form class="d-flex" role="log">
                        <button class="btn btn-outline-success" type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>



    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>DRIVE Inc. 2022, все права защищены</p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
